[submodule "capstone"]
	path = external/capstone
	url = https://github.com/capstone-engine/capstone
	branch = v4
[submodule "keystone"]
	path = external/keystone
	url = https://github.com/keystone-engine/keystone
	branch = master
[submodule "vcvars-bash"]
	path = external/vcvars-bash
	url = https://github.com/nathan818fr/vcvars-bash.git
	branch = master
