[submodule "capstone"]
	path = capstone
	url = https://github.com/capstone-engine/capstone
	branch = v4
[submodule "keystone"]
	path = keystone
	url = https://github.com/keystone-engine/keystone
	branch = master
