[submodule "capstone"]
	path = capstone
	url = https://github.com/capstone-engine/capstone
	branch = v4
[submodule "keystone"]
	path = keystone
	url = https://github.com/keystone-engine/keystone
	branch = master
[submodule "ELFIO"]
	path = ELFIO
	url = https://github.com/serge1/ELFIO
[submodule "enma_pe"]
	path = enma_pe
	url = https://github.com/jnastarot/enma_pe
